
<h1>Posts</h1>

<div class="table_scroll">
<table>
    <% @feeds.each do |feed| %>
      <tr>
        <td class="image_name"><%= image_tag feed.image.url, size: "100x80"%></td>
        <td><%= feed.content %></td>
        <td><%= feed.user.name%></td>




        <td><%= link_to 'Show', feed, class: 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed), class: 'btn btn-default' %></td>
        <td><%= link_to 'Destroy', feed, class: 'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</table>
</div>

<br>

<%= link_to 'New Feed', new_feed_path %>
